<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{meta_description}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <title>{{meta_title}}</title>

  <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-touch-icon-152x152.png">
  <meta name="apple-mobile-web-app-title" content="awlka">
  <link rel="icon" type="image/png" href="assets/favicon/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="assets/favicon/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="assets/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="assets/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="assets/favicon/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="assets/favicon//mstile-144x144.png">
  <meta name="application-name" content="awlka">


  <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />

  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Open+Sans:400italic,400,300,600:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  {{ghost_head}}

</head>
<body class="{{body_class}}">

  {{{body}}}

  <footer class="site-footer clearfix">
    <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
    <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
  </footer>

  {{ghost_foot}}

  <script src="{{asset "js/app.js"}}"></script>

</body>
</html>